@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --secondary-color: #404040;
    --third-color: #E0E0E1;
    --white-secondary: #FAFAFA;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    width: 100%;
    align-items: center;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.header h3 {
    margin-left: 40px;
}




