.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.main input {
  width: 550px;
  height: 30px;
  border-radius: 0px;
  border: 1px solid var(--third-color);
  padding-left: 20px;
  box-sizing: border-box;
}

.main input:focus {
  outline: none;
}

.searchIcon {
  background-color: var(--secondary-color);
  color: white;
  padding: 7px 8px;
  vertical-align: middle;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .main input {
    width: 350px;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .main input {
    width: 200px;
  }
}
