.stationCard {
  border: 2px solid grey;
  border-radius: 10px;
  width: 400px;
  margin: 10px 0 10px 0;
  padding: 10px;
  color: #303030;
}

.stationCardHeader {
  font-weight: normal;
  margin-bottom: 10px;
}

.pumpIcon {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.fuelContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

.cardLink {
  text-decoration: none;
}
