.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.main input {
  width: 550px;
  height: 30px;
  border-radius: 0px;
  border: 1px solid var(--third-color);
  padding-left: 20px;
  box-sizing: border-box;
}

.main input:focus {
  outline: none;
}

.gasStationEl {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .main input {
    width: 350px;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .main input {
    width: 200px;
  }
}

.stationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingIcon {
  width: 30px;
  height: 30px;
}
