.searchDiv {
  display: flex;
  justify-content: center;
}

.searchIcon {
  background-color: var(--secondary-color);
  color: white;
  padding: 10.7px 9px;
  vertical-align: middle;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .searchDiv {
    width: 100%;
  }
}
